* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
body {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('homepage.jpg');
    background-size: cover;
    background-position: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 10px;
  border-bottom: 1px solid #e7e7e7;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    height: 50px;
    padding: 10px 20px;
}

.navbar a {
    color: #333;
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
}

.search-bar input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
}

.search-bar button {
    border: none;
    outline: none;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
}

.products-container {
  margin: 20px;
}

.product-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #e7e7e7;
  padding: 10px;
}

.image-container {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

.product-info {
  flex-grow: 1;
}

.product-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-info p {
  font-size: 16px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buy-btn,
.remove-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.remove-btn {
  background-color: #f44336;
}
.settlement-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.settlement-btn {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: #fff;
}
